.ticket {
    position: fixed;
    box-sizing: border-box;
    width: 300px;
    height: 450px;
    margin: 150px auto 0;
    padding: 20px;
    border-radius: 10px;
    background: #FBFBFB;
    box-shadow: 2px 2px 15px 0px #AB9B0D;    
}

.transfer{
    width: 100%;
    height: 50px;
    margin-bottom: 15px;
    overflow:hidden !important;
    box-shadow: rgba(6, 24, 44, 0.4) 0px 0px 0px 2px, rgba(6, 24, 44, 0.65) 0px 4px 6px -1px, rgba(255, 255, 255, 0.08) 0px 1px 0px inset;
}

.transfer:hover{
    background-color: rgb(0, 25, 41);
    color: white;
    cursor:pointer;
}

.transfer-content{
    float: left;
    position: relative;
    left: 2%;
    top: 25%;
    font-family: Arial, Helvetica, sans-serif;
}

.more-details{
    position: absolute;
    padding-left: 80%;
    padding-top: 1.5%;
    text-decoration:underline;
    overflow: hidden !important;
}