.container{
    background-color: rgb(245, 245, 245);
    /* width: 600px; */
    padding: 15px;
    margin: 20px;
    /* height: 500px; */

    box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
    width: fit-content;
    margin: auto;
    height:fit-content;
}

.input-address{
    margin-right: 15px;
    margin: auto;
    width: 600px;
}

.error{
    color: red;
    font-size: small;
}


.confirm-heads{
    overflow: hidden;
    background-color: rgb(255, 255, 255);
    position: relative;
    width: 900px;
}

.confirm-heads span {
    /* float: left; */
    /* display: block; */
    text-align: center;
    padding: 14px 200px;
    text-decoration: none;
    font-size: 17px;
    box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;

}


.confirm-values{
    overflow: hidden;
    background-color: rgb(255, 255, 255);
    position: relative;
    width: 900px;
}

.confirm-values span {
    /* float: left; */
    /* display: block; */
    text-align: center;
    padding: 14px 200px;
    text-decoration: none;
    font-size: 17px;
    box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;

}