.container-main{
    position: absolute;
    left: 19%;
    top: 20%;
    background-color: rgb(245, 245, 245);
    /* width: 600px; */
    padding: 15px;
    margin: 20px;
    /* height: 500px; */

    box-shadow: rgba(60, 64, 67, 0.3) 0px 1px 2px 0px, rgba(60, 64, 67, 0.15) 0px 1px 3px 1px !important;
    width: fit-content;
    margin: auto;
    height:fit-content;
}

.tab-bar{
    overflow: hidden;
    background-color: rgb(245, 245, 245);
    position: relative;
    height: 50px;
    width: 900px;
    box-shadow: rgba(0, 0, 0, 0.02) 0px 1px 3px 0px, rgba(27, 31, 35, 0.15) 0px 0px 0px 1px;
}

.tab-false {
    position: relative;
    display: inline;
    text-align: center;
    padding: 14px 200px;
    text-decoration: none;
    font-size: 17px;
    box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
    cursor:pointer;
    color:rgb(0, 25, 41);
}

.tab-false:hover{
    cursor: pointer;
    color: white;
    background-color: rgb(0, 25, 41);
}

.tab-true{
    position: relative;
    display: inline;
    text-align: center;
    padding: 14px 200px;
    text-decoration: none;
    font-size: 17px;
    box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
    cursor:pointer;
    color:rgb(255, 255, 255);
    background-color:rgb(0, 25, 41);;
    text-decoration:underline;
}

.account{
    font-size: 20px;
    color: rgb(0, 25, 41);
}

.balance-fuse{
    position: relative;
    top: -25px;
    font-size: 30px;
    color: rgb(0, 25, 41);
}

.accounts-menu{
    position:absolute;
    font-size: 17px;
    top: -110px;
    left: 85%;
    color:rgb(255, 255, 255);
    cursor: pointer;
    text-decoration:underline;
}

.accounts-menu:hover{
    color: rgb(97, 255, 145);
}

.account-menu-item-false{
    cursor: pointer;
}

.account-menu-item-true{
    cursor: pointer;
    color: rgb(97, 255, 145);
}

.account-menu-item:hover{
    color: rgb(97, 255, 145);
}

.add-account-btn{
    border: 4px white !important;
    cursor: pointer;
    font-size: large;
}

.add-account-btn:hover{
    color: rgb(97, 255, 145);
}